<head>
  <link href="/css/style.css" rel="stylesheet" />
  <!--<script src="/js/cytoscape.min.js"></script>
  <script src="/js/cytoscape-popper.js"></script>-->
  <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
</head>
<body>
  <div id="x" class="main"><%= x %></div>
  <div id="y" class="main"><%= y %></div>
  <select class="data">
    <option value="">Select</option>
    <option value="car.json">Car</option>
    <option value="person.json">Person</option>
  </select>
  <div id="cy"></div>
  <div id="tab" class="hide"></div>
  <div id="popup" class="hide">
    <div class="content">
      <video id="yourVideoplayer" width="640" height="480" preload="auto" muted="true"> 
        <source src="/uploadedFiles/1645424764818__2e5d1e29-272a-3606-a480-183f0a69037d.mp4" type="video/mp4" />
      </video>
      <ul id="frame-list"></ul>
      <button onclick="closePopup()">닫기</button>
    </div>
  </div>
  <script>
    function closePopup() {
      const popup = document.querySelector('#popup');
      popup.classList.add('hide');
    }
  </script>
  <script type="module" src="/js/makeform.js"></script>
</body>
